# lockfiles
pnpm-lock.yaml
package-lock.json
yarn.lock
bun.lock

# misc
routeTree.gen.ts
.tanstack/
drizzle/
.drizzle/
.bmad-core/
.cursor/
.claude/
.nitro/

# build outputs
.vercel
.output
.wrangler
.netlify
dist